
.hamburger {
    display: block;
    position: absolute;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 80px;
    height: 40px;
    font-size: 0;
    text-indent: -9999px;
    cursor: pointer;
    outline: none;
    background: none;
    border: 0;
    left:1px;
    top:1px;
  }
   
   
  .hamburger span {
    display: block;
    position: absolute;
    top: 20px;
    left: 18px;
    right: 18px;
    height: 5px;
    background: #1a2580;
  }
   
  .hamburger span::before,
  .hamburger span::after {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #1a2580;
    content: "";
  }
   
  .hamburger span::before {
    top: -10px;
  }
   
  .hamburger span::after {
    bottom: -10px;
  }
 
   
 /*app-item-menu{
    background: #14b673;
    color: #fff;
    position: fixed;
    left: auto;
    top: 25px;
    left:25%;
    bottom: 0;
    width: 10%;
    min-width: 200px;
    z-index: 9999;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: 0;
    overflow: auto;
 }*/

 ul.menuniv_1{

  background: #1a2580;
    color: #fff;
    position: fixed;
    left: auto;
    top: 25px;
    left: 0;
    bottom: 0;
    width: 13%;
    /*min-width: 200px;*/
    z-index: 1000;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: 0;
    overflow-y: scroll;
 }
.is-open::before 
 { content: '';
  position: absolute;
  left: -8%;
  top: 0.1%;
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-right: 25px solid #ccc;
  clear: both;
  z-index: 9999;
 }
